@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom caret block class */
.caret-terminal::after {
    caret-shape: block;
}


body {
    background-color:rgb(31 41 55);
}


.writer {
    animation: typing 5s steps(30, end), blink .75s step-end;
    overflow: hidden;
    white-space: nowrap;
    
}
@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}